{% load static %}
<nav class="navbar-default navbar-static-side" role="navigation" >
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <!-- <img alt="image" class="rounded-circle" src="{% static 'img/profile_small.jpg' %}"/> -->
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">David Williams</span>
                        <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                        <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="{% if user_list or create_user %}active{% endif %}">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">User Management </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="{% if create_user %}active{% endif %}"><a href="{% url 'create_user' %}">Create User</a></li>
                    <li class="{% if users %}active{% endif %}"><a href="{% url 'users' %}">User List</a></li>
                </ul>
            </li>
            <li class="document_repo">
                <a href="#"><i class="fa fa-file"></i> <span class="nav-label">Documets</span></a>
            </li>
            <li class="{% if doc_repo %}active{% endif %}"><a class="dropdown-item" href="{% url 'documents_repo' %}"><i class="fa fa-caret-right"></i> View Documents</a></li>
            <li class="{% if roots %}active{% endif %}"><a class="dropdown-item" href="{% url 'documents_root_folders' %}"><i class="fa fa-caret-right"></i> Root Folders</a></li>
            <li class="{% if sub %}active{% endif %}"><a class="dropdown-item" href="{% url 'documents_sub_folders' %}"><i class="fa fa-caret-right"></i> Sub Folders</a></li>


            <li class="landing_link">
                <a href="#"><i class="fa fa-star"></i> <span class="nav-label">Website Setup</span></a>
            </li>
            <li class="{% if web_about or project_description %}active{% endif %}">
                <a href="#">About Us <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li class="{% if web_about %}active{% endif %}">
                        <a href="#">About</a>
                    </li>
                    <li class="{% if project_description %}active{% endif %}">
                        <a href="#">Project Description</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
