{% load static %}
<nav class="navbar-default navbar-static-side" role="navigation" >
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <!-- <img alt="image" class="rounded-circle" src="{% static 'img/profile_small.jpg' %}"/> -->
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">{{ user.first_name }} {{ user.last_name }}</span>
                        <span class="text-muted text-xs block">{{ user.user_role }} <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <!-- <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                        <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li> -->
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <!-- {% if user.email == "edward.chibwe@idspzambia.org"  %}
                <li class="{% if user_list or create_user %}active{% endif %}">
                    <a href="#"><i class="fa fa-users"></i> <span class="nav-label">User Management </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="{% if create_user %}active{% endif %}"><a href="{% url 'create_user' %}">Create User</a></li>
                        <li class="{% if users %}active{% endif %}"><a href="{% url 'users' %}">User List</a></li>
                    </ul>
                </li>
            {% endif %} -->
            <li class="{% if user_list or create_user %}active{% endif %}">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">User Management </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="{% if create_user %}active{% endif %}"><a href="{% url 'create_user' %}">Create User</a></li>
                    <li class="{% if users %}active{% endif %}"><a href="{% url 'users' %}">User List</a></li>
                </ul>
            </li>
            <li class="document_repo">
                <a href="#"><i class="fa fa-file"></i> <span class="nav-label">Documets</span></a>
            </li>
            <li class="{% if doc_repo %}active{% endif %}"><a class="dropdown-item" href="{% url 'documents_repo' %}"><i class="fa fa-caret-right"></i> View Documents</a></li>
            <li class="{% if roots %}active{% endif %}"><a class="dropdown-item" href="{% url 'documents_root_folders' %}"><i class="fa fa-caret-right"></i> Root Folders</a></li>
            <li class="{% if sub %}active{% endif %}"><a class="dropdown-item" href="{% url 'documents_sub_folders' %}"><i class="fa fa-caret-right"></i> Sub Folders</a></li>


            <li class="landing_link">
                <a href="#"><i class="fa fa-star"></i> <span class="nav-label">Website Setup</span></a>
            </li>
            <li class="{% if web_ab or web_pro_desc %}active{% endif %}">
                <a href="#">About Us <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li class="{% if web_ab %}active{% endif %}">
                        <a href="{% url 'web_about' %}">About</a>
                    </li>
                    <li class="{% if web_pro_desc %}active{% endif %}">
                        <a href="{% url 'project_desc' %}">Project Description</a>
                    </li>
                </ul>
            </li>
            <li class="{% if www or coreSite or isfSite or remSite %}active{% endif %}">
                <a href="#">Sites<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li class="{% if www %}active{% endif %}">
                        <a href="{% url 'where_works' %}">Where We Work</a>
                    </li>
                    <li class="{% if coreSite %}active{% endif %}">
                        <a href="{% url 'core_sites' %}">Core Sites</a>
                    </li>
                    <li class="{% if isfSite %}active{% endif %}">
                        <a href="{% url 'isf_sites' %}">ISF Sites</a>
                    </li>
                    <li class="{% if remSite %}active{% endif %}">
                        <a href="{% url 'remedial_sites' %}">Remedial Works Sites</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
