{% extends 'base.html' %}
{% load static %}
{% block contents %}


<div class="row">
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>WUG</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">12</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>CLT</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">5</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Tiers</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">386</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Beneficiaries</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">15,125,784</h1>
            </div>
        </div>
    </div>
</div>



{% endblock%}
