{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox animated bounceInRight" id='ibox2'>
                <div class="ibox-title" style="padding-bottom: 20px">
                    <h5>Users</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>Names</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for person in user_list %}
                                    <tr class="gradeA">
                                        <td>{{ person.get_full_name | safe }}</td>
                                        <td>{{ person.email | safe }}</td>
                                        <td>{{ person.user_role | safe }}</td>
                                        <td>{{ person.date_created }}</td>
                                        <td><button type="button" class="btn btn-xs btn-danger" id="{{ person.user_uid | safe }}" onClick="delete_click(this.id)">Delete</button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Names</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}


{% block pageinclude %}
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'csv', title: 'IDSP MIS Users'},
                    {extend: 'excel', title: 'IDSP MIS Users'},
                ]
            });

        });

        function delete_click(clicked_id)
        { 
            document.getElementById(clicked_id).disabled = true;
            swal({
                title: "Are you sure?",
                text: "You will not be able to undo this action!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "progressBar": true,
                    "preventDuplicates": false,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "400",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }     
                $('#ibox2').children('.ibox-content').toggleClass('sk-loading');    
                let person_id = clicked_id;
                var payload = {person_id : person_id};
                $.ajax({
                    url: "{% url 'user_delete' %}",
                    data: payload,
                    method: "POST",
                    dataType: 'json',
                    headers: {
                        content_type: 'application/json',
                        'X-CSRFToken': "{{ csrf_token }}"
                    },
                    success: function (data) {
                    if (data) {
                        console.log(data)
                        var status = data.status
                        var message = data.msg
                        if(status === 200){
                            toastr.success(message,'Success!')
                            setTimeout(function() {
                                location.reload();
                            }, 1500);
                        }
                        else{
                            toastr.warning(message,'Warning!')
                        }
                    }
                    }
                });
            });
        }

    </script>
{% endblock%}